body {
  background: url('background/calvinNhobbes.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  font-family: 'Play', sans-serif;
  letter-spacing: 1px;

}
img {
  height: 75%;
  width: 75%;
  margin-top: 10px;
  border: 7px solid white;
  border-radius: 50%;
}
h1 {
  font-size: 55px;
}
header ul {
  padding-left: 0;
}
header li {
  padding: 20px;
  font-size: 30px;
  display: inline;
}
article {
  display: none;
}
article:target {
  display: block;
  text-align: justify;
  letter-spacing: 2px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 18px;
}
article img {
  height: 10%;
  width: 10%;
}
#favorite {
  text-align: center;
}
#favorite li{
  list-style-type: none;
  text-align: center;
}
#favorite ul {
  padding-left: 0;
}
a {
  text-decoration: none;
  color: dimgrey;
}
a:hover {
  color: white;
}
#contact {
  text-align: center;
  letter-spacing: 20px;
}

@media (max-width: 1250px) {
  h1 {
    font-size: 36px;
    padding: 5px;
  }
  header li {
    font-size: 20px;
    padding: 5px;
    display: block;
  }
  p {
    font-size: 16px;
    text-align: justify;
  }
  article p {
    text-align: center;
  }
  body {
    background: none;
    background-color: #9FE1F5;
    padding: 10px;
  }
}
